/*layout styles*/
body {
    display: block;
    width: auto;
    margin: auto;
    min-width: 645px;
    max-width: 1500px;
    background-color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: lightgray;
    padding: 40px;
    margin: 20px;
}
.profileImage {
    width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}

.facts {
    margin-top: 10px;
}

/* font styles */
h1, h3, h4 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 45pt;
    margin: 0px;
}

header h3 {
    font-size: 32px;
    margin-top: -5px;
}

h4 {
    font-size: 20px;
    line-height: 1.1;
}

#body {
    position: relative;
}
/*main content styles*/
article {
    position: absolute;
    left: 27%;
    width: auto;
    padding-right: 40px;
    margin: 20px 20px 20px 30px;
}

aside {
    position: absolute;
    left: 3%;
    top: 80px;
    width: 20%;
    margin: 20px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
/*link styles*/
a:link {
    color: darkblue;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: darkslategray;
}


