body {
    display: block;
    width: auto;
    min-width: 420px;
    max-width: 1400px;
    background-color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: lightgray;
    padding: 40px;
    margin: 20px;
}

img.profileImage {
    width: 300px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}

.facts {
    margin-top: 10px;
}

h1, h3, h4 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 45pt;
    margin: 0px;
}

header h3 {
    font-size: 32px;
    margin-top: -5px;
}

header h4, article h4 {
    font-size: 20px;
    margin: 5px, 5px, 5px, 0px;
}

#body {
    position: relative;
}
article {
    position: absolute;
    left: 27%;
    width: 70%;
    margin: 20px;
    margin-left: 30px;
}

aside {
    position: absolute;
    left: 3%;
    top: 120px;
    width: 25%;
    margin: 20px;
}

a:link {
    color: darkblue;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: darkslategray;
}

