
body {
    display: block;
    width: 70%;
    margin: auto;
    background-color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: lightgray;
    padding: 40px;
    margin: 20px;
}

img.profileImage {
    width: 300px;
    float: left;
    margin-right: 30px;
}

div.facts {
    margin-top: 10px;
}

h1, h3, h4 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 45pt;
    margin: 0px;
}

header h3 {
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: 15px;
}

header h4, article h4 {
    font-size: 20px;
    margin: 5px;
}

article {
    margin: 40px;
}

aside {
    position: relative;
    float: left;
    width: 300px;
    margin: 20px;

}